/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  height: 100vh;
  color: #cccccc;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(45 44 64);
}

.input{
  width: 275px;
  height: 30px;
  border: none;
  border-bottom: 0.001em solid #cccccc;
  font-size: 22px;
  background: none;
  color: #cccccc;
  padding-left: 25px;
}

.input:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.label{
  padding-top: 12px;
  position: relative;
  left: 30px;
}

.labelContent{
  margin: 10px;
}

.loginBtn{
  width: 305px;
  height: 30px;
  border: none;
  background: rgb(53 52 74);
  color: #cccccc;
  position: relative;
  left: 20px;
}

.loginBtn:focus{
  outline: -webkit-focus-ring-color auto 0px;
  opacity: 0.5;
}

.link{
  text-decoration: none;
  color: #cccccc;
}

.extraContent{
  margin: 10px;
  position: relative;
  left: 20px;
}
